/* Write your CSS here! */
body{
    display: block;
    font-family: Arial;
    margin: 8px;
}
header, main, footer{
    text-align: center;
}
header h1, figcaption{
    text-transform: uppercase;
}
ul{
    list-style-position: inside;
}
#mainHeading{
    font-size: 2rem;
    color: red;
}
#testP{
    display: inline-block;
    &::after{
        content: "|";
        padding: 0 0;
        font-weight: bold;
    }
}
.duration{
    display: inline-block;
    
    &::before{
        content: "|";
        padding: 0 5px;
        font-weight: bold;
    }
}
.funParagraph{
    font-size: 12px;
    color: green;
}